<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructure">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/accordion"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/accordion"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RecentlyPlayed"
            android:label="@string/recently_played">
        </activity>
        <activity
            android:name=".SearchLibrary"
            android:label="@string/search_library">
        </activity>
        <activity
            android:name=".ListAlbums"
            android:label="@string/list_albums">
        </activity>
        <activity
            android:name=".PurchaseMusic"
            android:label="@string/store_link">
        </activity>
        <activity
            android:name=".NowPlaying"
            android:label="@string/now_playing">
        </activity>

    </application>

</manifest>